@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.showCart .cartTab{
    inset: 0 0 0 auto;
    transition: 0.5s ease;
}
.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s ease;
}
.showCart .container header {
    transform: translateX(-200px);
    transition: transform .5s ease;
}
.showCart .container .listProduct {
    transform: translateX(-200px);
    transition: transform .5s ease;
}
i {
    font-size: 30px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.title {
    border-bottom: 2px solid black;
    font-size: 2.5rem;
}
header .icon-cart {
    position: relative;
    cursor: pointer;
}
header .icon-cart span {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}
.listProduct {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.listProduct .item {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button {
    background-color: #28a745;
    color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.listProduct .item button:hover {
    background-color: #218838;
}
.listProduct .item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 2rem auto;
}
.cartTab {
    width: 400px;
    background-color: grey;
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}
.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
    border-bottom: 1px solid #eee;
}
.cartTab .listCart .item img {
    width: 100%;
}
.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
    align-items: center;
}
.listCart {
    overflow: auto;
}
.listCart::-webkit-scrollbar {
    width: 0;
}
.listCart .item:nth-child(even) {
    background-color: #eee1;
}
.listCart .quantity {
    display: flex;
    gap: 3px;
}
.listCart .quantity span {
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}
.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
}
.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button {
    background-color: #e5d500;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 1.4rem;
    cursor: pointer;
}
.cartTab .btn .close {
    background-color: #eee;
}

@media screen and (max-width: 1350px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }
    .container {
        width: 500px;
    }
}
@media screen and (max-width: 935px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        width: 300px;
    }
    .title {
        font-size: 1.7rem;
    }
    .cartTab {
        width: 300px;
    }
    .cartTab .listCart .item {
        display: flex;
        justify-content: space-between;
    }
    .image {
        width: 30px;
        height: 50px;
        object-fit: cover;
        display: flex;
    }
    .showCart .container header {
        transform: translateX(-150px);
        transition: transform .5s ease;
    }
    .showCart .container .listProduct {
        transform: translateX(-150px);
        transition: transform .5s ease;
    }
}
@media screen and (max-width: 650px) {
    .listProduct {
        grid-template-columns: repeat(1, 1fr);
    }
    .container {
        width: 150px;
    }
    .title {
        font-size: 1rem;
    }
    i {
        font-size: 20px;
    }
    header .icon-cart span {
        width: 20px;
        height: 20px;
        right: -15px;
    }
}
@media screen and (max-width: 490px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        width: 90vw;
    }
    .cartTab {
        width: 100%;
        inset: 0 -600px 0 auto;
        display: grid;
        grid-template-rows: 70px 1fr 70px;
    }
    .image {
        width: 50px;
    }
    .showCart .container header {
        transform: translateX(0);
    }
    .showCart .container .listProduct {
        transform: translateX(0);
    }
}