@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: rgb(226, 226, 226);
}

nav {
    background-color: rgb(86, 86, 86);
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
.search-container input, button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 1.2rem;
}
button {
    background-color: rgb(255, 204, 0);
    transition: all 0.2s ease;
    cursor: pointer;
}
button:hover {
    background-color: rgb(255, 215, 57);
}
main {
    max-width: 1200px;
    margin: 0 auto;
    margin-block: 38px;
}
main section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.movie-container {
    height: 100%;
    display: flex;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
    width: 80%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.movie-container.noBackground {
    box-shadow: none;
    background: none;
}
.movie-poster img {
    height: 100%;
    margin-right: 30px;
    border-radius: 5px 0 0 5px;
}
.movie-info {
    padding-inline: 15px;
}
.movie-info h2 {
    text-align: center;
    font-size: 32px;
    margin: 20px 0 12px 0;
}
.movie-info h2+p {
    text-align: center;
}
.movie-info p {
    font-size: 18px;
    margin-block: 16px;
    line-height: 24px;
}
.movie-info .movie-genre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.movie-info .movie-genre p {
    background-color: rgb(86, 86, 86);
    color: white;
    padding: 5px 14px;
    margin-inline: 5px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;
}
footer {
    text-align: center;
    background-color: rgb(86, 86, 86);
    color: white;
    padding-block: 20px;
    margin-top: 20px;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}