*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100%;
    position: sticky;
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: center;
    gap: 4vw;
}
nav a {
    font-size: 12px;
    text-decoration: none;
    color: black;
    margin: 5px 0;
    box-shadow: 1px 1px 2px;
}
#home{
    background-color: rgb(207, 207, 207);    
    padding: 5px 35px;
    box-shadow: 0px 0px 3px;
}
#x{
    background-color: rgb(225, 225, 225);    
    padding: 5px 15px;
    box-shadow: 0px 0px 3px;
}
.button{
    border: 1px solid black;
    box-shadow: 0px 0px 3px;
    padding: 0.2rem 0.6rem;
    cursor: pointer;
    border-radius: 4px;
}
.colors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
} 
#black{
    background-color: rgb(47, 47, 47);
    color: white;
}
#white{
    background-color: white;
    color: black;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}